.modal_content {
    background: white;
    padding: 24px 32px;
    border-radius: 7px;
    width: 616px;
}

.modal_header {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 24px;
    margin-bottom: 24px;
    text-align: center;
    border-bottom: 2px solid #CDD0D2;
}

/*.modal_footer {*/
/*    text-align: center;*/
/*    margin-top: 24px;*/
/*}*/

.modal_body {
    display: flex;
    flex-direction: column;
}