.custom-button {
    width: 32px;
    height: 32px;
    background-color: #4D4E65;
    border-radius: 6px;
}

.modal_btn {
    width: 113px;
    height: 32px;
    background-color: #4D4E65;
    color: #fff;
    border-radius: 6px;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.edit_btn {
    width: 113px;
    height: 32px;
    background-color: #4D4E65;
    color: #fff;
    border-radius: 6px;
    display: flex;
}

.custom-button:hover,
.custom-button:focus,
.edit_btn:focus,
.edit_btn:hover,
.modal_btn:focus,
.modal_btn:hover{
    background-color: #4D4E65 !important;
    border-color: #4D4E65 !important;
    color: #fff !important;

}